<a routerLink="/home">Home</a> |
<a routerLink="/login">Login</a> |
<a routerLink="/secure">Secure</a> |
<a routerLink="/adminpanel">Admin Panel</a> |
<a routerLink="/course/1">Course page</a> |



<div>
    <p>generate Module command: ng g module ModuleName</p>
    <p>generate module and its routing command: ng g m ModuleName --routing --flat</p>
</div>
<div>
    <p><strong> Routing Guard</strong></p>
    <p> Routing CanActivate Guard - Preventing unauthorized access</p>
    <p> Routing Guard - CanActivateFn vs CanActivate (Deprecated)</p>
    <p> Routing and Angular Performance - Lazy Load Standalone Components</p>
    - routing loadComponet make lazy load of the component, means the component will load only when its link be active.
    <p> Best Practices for Building Scalable Angular Applications - Use a Modular A</p>
    <p> Routing Guard - CanLoadFn & CanLoad (Deprecated) vs CanMatchFn</p>
    - CanLoadFn, CanLoad, and CanMatchFn are equal to CanActivateFn that secure your route.
    <p> Routing Guard - The differences CanActivateFn vs CanMatchFn</p>
    - CanActivateFn load the componet or the moduel js file however it can be unaccess by the user, so it is not useful
    with lazy load.
    - Use CanMatchFn instead of CanActivateFn when using lazy loading.
    <p> End Routing Guard</p>
</div>
<div>
    <strong>Resolver</strong>
    <p>generate resolver command: ng g resolver resolvers/ResolverName</p>
</div>