<a href="/View-Child-Decorator">View-Child-Decorator</a>
| <a href="/InputOutputParentComponent">InputOutputParentComponent</a>
| <a href="/InputParentComponent">InputParentComponent</a>
| <a href="/comp-one">Pass data by shared Service</a>
| <a href="/course-list">course-list</a>

<router-outlet />
<hr>
<div>
    <p><b>There are 4 Methods to Share Data between Angular Components</b></p>
    <ol>
        <li>Parent to Child: via Input</li>
        <li>Child to Parent: via Output() and EventEmitter</li>
        <li>Child to Parent: via ViewChild</li>
        <li>Unrelated Components: via a Service</li>
    </ol>
</div>