<a href="/View-Child-Decorator">View-Child-Decorator</a><br>
<a href="/InputOutputParentComponent">InputOutputParentComponent</a><br>
<a href="/InputParentComponent">InputParentComponent</a><br>
<a href="/comp-one">Pass data by shared Service</a><br>
<a href="/course-list">course-list</a><br>
<a href="/content-child-example">content-child-example</a><br>
<a href="/content-children-example">content-children-example</a><br>
<hr>
<div>
    <p><b>There are 4 Methods to Share Data between Angular Components</b></p>
    <ol>
        <li>Parent to Child: via Input</li>
        <li>Child to Parent: via Output() and EventEmitter</li>
        <li>Child to Parent: via ViewChild</li>
        <li>Unrelated Components: via a Service</li>
    </ol>
</div>
<hr>

<router-outlet />