<div>
    <input type="text" [ngModel]="searchTextSignal()" (ngModelChange)="updateSearchTextSignal($event)">
</div>
<h1>Courses signal</h1>
<table class="table table-borders">
    <thead>
        @for (col of displayedColumns(); track $index) {
        <th>{{col}}</th>
        }
    </thead>
    @for (item of productsComputed(); track $index) {
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
    </tr>
    }
</table>